.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 80px 20px 20px;
    margin-left: 50px;
    height: 100%;
    box-sizing: border-box;
  
    @media (max-width: 768px) {
      padding: 40px 40px 20px 20px;
      margin-left: 20px;
    }
  
    @media (max-width: 480px) {
      padding: 20px 20px 10px 10px;
      margin-left: 10px;
    }
  
    .body {
      display: flex;
      gap: 10px;
      flex-direction: column;
  
      .linkContainer {
        perspective: 120px;
        perspective-origin: bottom;
  
        :hover {
          border-bottom: black;
        }
      }
  
      a {
        text-decoration: none;
        color: black;
        font-size: 46px;
  
        @media (max-width: 768px) {
          font-size: 36px;
        }
  
        @media (max-width: 480px) {
          font-size: 26px;
        }
      }
    }
  
    .footer {
      display: flex;
      flex-wrap: wrap;
  
      a {
        width: 50%;
        margin-top: 5px;
  
        @media (max-width: 768px) {
          width: 100%;
          text-align: center;
        }
  
        @media (max-width: 480px) {
          width: 100%;
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }